[app-country-list]             { width: 100%; height: 100%; background: #f7fbff;

    p-dropdown          { min-width:'140em' }

    .country-list-detail        { display: flex; justify-content: space-between; align-items: center; padding: 2em; border-bottom: 1px solid #d9dad9;

            img                 { max-width:200px; height:auto; }
    }
}
